# Variables
router_ip=192.168.0.1
username=jacob
password=Jac0bm!@#G
rule_name=max
max_log_size=1048576  # 1MB in bytes
network_check_ip=192.168.0.10

log_file=/home/jacob/kid_control/time_checking.log


# config file
config_file=/home/jacob/kid_control/kidcontrol.config

# Temp files
start_time_file=/home/jacob/kid_control/start_time.txt
status_file=/home/jacob/kid_control/status.txt
current_day_file=/home/jacob/kid_control/current_day.txt
error_file=/home/jacob/kid_control/error_message.txt

# script files
manage_config_script=/home/jacob/kid_control/manage_config.sh
kid_control_script=/home/jacob/kid_control/kid_control.sh